{% extends '_plain.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
  <link rel="stylesheet" href={% static 'calliope_auth/css/login.css' %}>
  <title>ログイン</title>
{% endblock head %}

{% block body %}
  <div class="container mt-5">
    <form class="row justify-content-center" method="post">
      <div class="col-8 alert alert-success text-center" role="alert">
        説明は<a href="{% url 'calliope_auth:auth_docs' %}">こちら</a>
      </div>
      <div class="col-8 alert alert-success text-center" role="alert">
        <a href="{% url 'calliope_auth:login_testuser' %}">テストユーザーとしてログイン</a>
      </div>

      {% for error in form.non_field_errors %}
        <div class="col-8 alert alert-danger alert-dismissible text-center" role="alert">
          {{ error }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}

      {% for error in form.username.errors %}
        <div class="col-8 alert alert-danger alert-dismissible text-center" role="alert">
          {{ error }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}

      {% csrf_token %}

      {% render_field form.username class="col-8 p-3 mb-1" placeholder="Enter your username..." %}
      {% render_field form.password class="col-8 p-3" placeholder="Enter your password..." %}

      <button class="login-btn btn rounded mt-4 col-8" type="submit">ログイン</button>
      <a class="login-btn btn rounded mt-4 col-8" href="{% url 'calliope_auth:signup' %}">サインアップ</a>
    </form>
  </div>
{% endblock body %}