[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
whitenoise = "*"
payjp = "*"
pyjwt = "*"
psycopg2 = "*"
line-bot-sdk = "*"
pillow = "*"
django = "~=3.2"
dj-database-url = "*"
django-cloudinary-storage = "*"
django-glrm = "*"
django-widget-tweaks = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
mk = 'python manage.py makemigrations'
mg = 'python manage.py migrate'
r = 'python manage.py runserver'
cs = 'python manage.py collectstatic'
pm = 'python manage.py'
