$color-1: #777777;
$color-2: #FFFFFF;
$color-3: #F77B78;
$color-4: #A6927C;
$color-5: #7DD3D2;

$break-point-sm: 520px;
$break-point-lg: 960px;

@mixin text-grad($color-start, $color-end) {
    background: linear-gradient(right, $color-start, $color-end);
    color: transparent;
    -webkit-background-clip: text;
}

@mixin media-q($break-point: $break-point-lg) {
    @media (min-width: $break-point) {
        @content;
    }
}

.welcome {
    position: relative;
    img {
        width: 100%;
        height: auto;
    }

    @for $top-position from 1 to 4 {
        .top-position-#{$top-position} {
            font-size: 20px;
            color: $color-2;
            @include text-grad($color-3, $color-5);
            z-index: 10;
            top: 25%*$top-position;
            position: absolute;
            left: 20%;
            transform: translateY(-50%);

            @include media-q($break-point-sm) {
                font-size: 50px;
            }

            @include media-q() {
                font-size: 80px;
            }
        }
    }
}

.container {
    width: 100%;
    margin: 0 auto;

    .theme {
        margin-top: 50px;
        margin-bottom: 35px;
        color: $color-1;
        font-size: 50px;
        text-align: center;
    }
}



