@use "../../../../static/css/global.scss" as global;

$color-1: global.$color-1;
$color-2: global.$color-2;
$color-3: global.$color-3;
$color-4: global.$color-4;
$color-5: global.$color-5;
$color-6: global.$color-6;

$break-point-sm: global.$break-point-sm;
$break-point-lg: global.$break-point-lg;


@mixin text-grad($color-start, $color-end) {
    background: linear-gradient(right, $color-start, $color-end);
    color: transparent;
    -webkit-background-clip: text;
}

body section {
    font-size: 25px;
    // color: $color-2;
}

.welcome {
    position: relative;
    
    img {
        width: 100%;
        height: auto;
    }
    
    @for $top-position from 1 to 5 {
        .top-position-#{$top-position} {
            white-space: nowrap;
            position: absolute;
            font-size: 35px;
            color: $color-2;
            @include text-grad($color-3, $color-5);
            z-index: 10;
            top: 20%*$top-position;
            left: 20%;
            transform: translateY(-50%);
            
            @include global.media-q($break-point-sm) {
                font-size: 55px;
            }
            
            @include global.media-q() {
                font-size: 85px;
            }
        }
    }
}

.container_section {
    width: 100%;
    padding: 2%;
    margin: 0 auto;
    background-color: $color-2;
    overflow: hidden;
    margin-left: -100%;
    transition: 0.4s;

    &.is-show{
        margin-left: 0;
    }
    
    .theme {
        padding-top: 50px;
        margin-bottom: 35px;
        color: $color-1;
        font-size: 60px;
        text-align: center;
    }

    .accordion {

        div {
            $font-img-height: 30px;

            width: 100%;
            line-height: $font-img-height;
            
            &:nth-child(odd) {
                font-size: $font-img-height;
                margin-bottom: 25px;
                display: flex;
                img {
                    height: $font-img-height;
                    width: $font-img-height;

                    &:not(.toggle) {
                        margin-right: 3%;
                    }
    
                    &.toggle {
                        margin-left: auto;
                    }
                }
            }
            
            &:nth-child(even) {
                margin-bottom: 30px;

                ul {
                    width: 90%;
                    margin: 0 auto;

                    padding: 0;
                    list-style: none;
                    li {
                        margin: 20px 0;
                        font-size: $font-img-height * 0.9;
                    }
                }
            }
        }
    }
}

.scroll-to-top {
    position: fixed;
    box-sizing: border-box;
    right: 5%;
    bottom: 5%;
    padding: 5px;
    width: 50px;
    height: 50px;
    transform: rotate(90deg);
    border-radius: 50%;
    background-color: $color-5;
    opacity: 0.7;
    &:hover {
        opacity: 0.9;
    }
    
    @include global.media-q($break-point-lg) {
        width: 80px;
        height: 80px;
    }
}
