$color-1: #777777;
$color-2: #FFFFFF;
$color-3: #F77B78;
$color-4: #A6927C;
$color-5: #7DD3D2;

$break-point-sm: 520px;
$break-point-lg: 960px;

@mixin text-grad($color-start, $color-end) {
    background: linear-gradient(right, $color-start, $color-end);
    color: transparent;
    -webkit-background-clip: text;
}

@mixin media-q($break-point: $break-point-lg) {
    @media (min-width: $break-point) {
        @content;
    }
}

@mixin border-check {
    * {
        border: 1pt dotted blue;
    }
}

.welcome {
    position: relative;

    img {
        width: 100%;
        height: auto;
    }
    
    @for $top-position from 1 to 5 {
        .top-position-#{$top-position} {
            white-space: nowrap;
            position: absolute;
            font-size: 35px;
            color: $color-2;
            @include text-grad($color-3, $color-5);
            z-index: 10;
            top: 20%*$top-position;
            left: 20%;
            transform: translateY(-50%);
            
            @include media-q($break-point-sm) {
                font-size: 55px;
            }
            
            @include media-q() {
                font-size: 85px;
            }
        }
    }
}

.container {
    width: 100%;
    margin: 0 auto;
    
    .theme {
        margin-top: 50px;
        margin-bottom: 35px;
        color: $color-1;
        font-size: 50px;
        text-align: center;
    }

    .accordion {

        div {
            $font-img-height: 25px;

            width: 100%;
            line-height: $font-img-height;
            
            &:nth-child(odd) {
                font-size: $font-img-height;
                margin-bottom: 25px;
                display: flex;
                img {
                    height: $font-img-height;
                    width: $font-img-height;

                    &:not(.toggle) {
                        margin-right: 3%;
                    }
    
                    &.toggle {
                        margin-left: auto;
                    }
                }
            }
            
            &:nth-child(even) {
                margin-bottom: 30px;

                ul {
                    width: 90%;
                    margin: 0 auto;

                    padding: 0;
                    list-style: none;
                    li {
                        margin: 20px 0;
                        font-size: $font-img-height * 0.9;
                    }
                }
            }
        }
    }
}