$color-1: #777777;
$color-2: #f4f4f4;
$color-3: #ee2560;
$color-4: #A6927C;
$color-5: #45d9fd;
$color-6: #08182b;

$break-point-sm: 520px;
$break-point-lg: 960px;

@mixin media-q($break-point: $break-point-lg) {
    @media (min-width: $break-point) {
        @content;
    }
}