{% extends '_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}

{% endblock head %}


{% block body %}
  <section class="container my-4">
    <form novalidate method="post" class="was-validated">
      {% csrf_token %}
      <div>
        <label for={{ form.body.id_for_label }} class="form-label">本文:</label>
        {% render_field form.body class="form-control" placeholder=form.body.placeholder %}
        {% for error in form.body.errors %}
        <div class="invalid-feedback">
          {{ error }}
        </div>
        {% endfor %}
      </div>
      <button type="submit" class="btn btn-primary mt-4">投稿</button>
    </form>
  </section>
{% endblock body %}

