{% extends '_base.html' %}
{% load static %}

{% block head %}
<title>一覧</title>
<meta name="description" content="all bss">
<script src="{% static 'calliope_web/js/bss_list.js' %}"></script>
{% endblock head %}


{% block body %}
  <section class="container">
    <center>
      <form method="get">
        <input type="text" name="query" value={{ request.GET.query }}>
        <button type="submit">検索</button>
      </form>
    </center>
    <button class="btn btn-primary" onclick="location.href='{% url "calliope_web:bss_create" %}'">新規作成</button>
    {% for bss in bss_list %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-subtitle mb-2">{{ bss.author }}</h5>
        <p class="card-text">{{ bss.body }}</p>
        <div class="row">
          <div class="col">
            <a href={% url 'calliope_web:bss_detail' bss.pk %} class="card-link">詳細</a>
            {% if bss.author == user %}
              <a href={% url 'calliope_web:bss_update' bss.pk %} class="card-link">編集</a>
              <a href={% url 'calliope_web:bss_delete' bss.pk %} class="card-link" id="confirm_delete">削除</a>
            {% endif %}
          </div>
          <div class="col align-self-end">{{ bss.updated_datetime }}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>
{% endblock body %}
