{% extends '_base.html' %}
{% load static %}

{% block head %}
  <meta name="description" content="home">
  <title>calliope portfolio</title>
  <link rel="stylesheet" href={% static 'calliope_web/scss/home.css' %}>
{% endblock head %}

{% block body %}
  <section class="welcome">
    <img src="{% static 'calliope_web/images/main_image.jpg' %}" alt="main_image">
    <h1 class="top-position-1">Hello</h1>
    <h1 class="top-position-2">{{ user.username }}!</h1>
    <h1 class="top-position-3">Welcome to my</h1>
    <h1 class="top-position-4">Portfolio!</h1>
  </section>

  <section class='container_section'>
    <h2 class="theme">
      Info
    </h2>
    <p>
      Instagramなどにも使用されているPythonのWeb開発フレームワークであるDjangoを用いてこのポートフォリオを作成いたしました。
      Herokuというプラットフォームを用いてこのポートフォリオを稼働させております。
      ソースコードは<a href="https://github.com/calliope-pro/calliope-portfolio" target="_blank" rel="noopener noreferrer">GitHub</a>に載せてありますので、ぜひご覧ください。
      Webデザインや、JS等を用いたフロントエンド開発
      ログイン機能や問い合わせフォーム、API開発、LINEや決済サービスとのAPI連携などをご覧いただきたいと思っております。
    </p>
  </section>

  <section class="container_section">
    <h2 class="theme">
      About
    </h2>
    <div>
      <p>
        都内の理系大学に通っており、学部2年になります。
        <br>
        私の専攻は情報学系ではありませんが、専攻科目と並行しながら独学しております。
        <br>
        Pythonをメインに扱ってプログラミングを行っております。
        <br>
      </p>
    </div>
  </section>


  <section class="container_section">
    <h2 class="theme">
      Skills
    </h2>
    <div class="accordion" id="lang-accordion">
      <div data-lang="python">
        <img src="{% static 'calliope_web/images/python_logo_icon.png' %}" alt="Python">
        <span>Python</span>
        <img class="toggle" src="{% static 'calliope_web/images/toggle_left_arrow.png' %}" alt="toggle">
      </div>
      <div data-detail="python">
        <ul>
          <li>Requestsを用いたAPI操作</li>
          <li>Beautifulsoupを用いたhtml解析・スクレイピング</li>
          <li>Seleniumを用いたブラウザの自動操作</li>
          <li>emailの自動送信</li>
          <li>OpenpyxlによるExcel操作</li>
          <li>txtファイル等のファイル操作</li>
          <li>GUI化およびexeファイルの作成</li>
          <li>AtCoderにおける競技プログラミング(現Rate:{{ atcoder_rate }}, <a href="https://atcoder.jp/users/calliope">詳細はこちら)</a></li>
          <li>Sympy, Scipyなどを用いた数理計算</li>
          <li>Numpy, Pandasを用いたデータ分析</li>
          <li>Sklearnを用いた機械学習</li>
          <li>Django, Flask, FastAPIを用いたWebアプリケーション制作</li>
          <li>Wagtailを用いたCMS制作</li>
        </ul>
      </div>

      <div data-lang="javascript">
        <img src="{% static 'calliope_web/images/js_logo_icon.png' %}" alt="JavaScript">
        <span>JavaScript</span>
        <img class="toggle" src="{% static 'calliope_web/images/toggle_left_arrow.png' %}" alt="toggle">
      </div>
      <div data-detail="javascript">
        <ul>
          <li>jQueryを用いたクラシカルな開発</li>
          <li>React.jsを用いたSPAの開発</li>
          <li>Next.jsを用いたSSR, SSG, ISRの開発</li>
          <li>TypeScriptを用いた保守性の高い開発</li>
        </ul>
      </div>

      <div data-lang="html">
        <img src="{% static 'calliope_web/images/html5_logo_icon.png' %}" alt="HTML">
        <span>HTML</span>
        <img class="toggle" src="{% static 'calliope_web/images/toggle_left_arrow.png' %}" alt="toggle">
      </div>
      <div data-detail="html">
        <ul>
          <li>HTML5を用いた開発</li>
        </ul>
      </div>

      <div data-lang="css">
        <img src="{% static 'calliope_web/images/css3_logo_icon.png' %}" alt="CSS">
        <span>CSS</span>
        <img class="toggle" src="{% static 'calliope_web/images/toggle_left_arrow.png' %}" alt="toggle">
      </div>
      <div data-detail="css">
        <ul>
          <li>CSS3を用いた開発</li>
          <li>Sass・Scssを用いた開発</li>
          <li>Bootstarpなどのフレームワークを用いた開発</li>
        </ul>
      </div>

      <div data-lang="php">
        <img src="{% static 'calliope_web/images/php_logo_icon.svg' %}" alt="PHP">
        <span>PHP</span>
        <img class="toggle" src="{% static 'calliope_web/images/toggle_left_arrow.png' %}" alt="toggle">
      </div>
      <div data-detail="php">
        <ul>
          <li>Wordpressを用いたWebサイト制作</li>
        </ul>
      </div>
    </div>
  </section>


  <section class="container_section">
    <h2 class="theme">
      Works
    </h2>
    <div>
      <ul>
        <li><a href={% url 'calliope_front:work1' %} target="_blank">作品1</a></li>
        <li><a href={% url 'calliope_front:work2' %} target="_blank">作品2</a></li>
      </ul>
      <p>
        詳しい実績といたしまして、Pythonのオンライン指導、クラウドソーシングにてスクレイピング・API操作を行うexeファイル作成、また、htmlファイル等を預かりDjangoを用いてサーバーへのアップなどがあります。<br>
        また、Excel VBAを用いた勤怠管理システム等の作成実績もあります。
      </p>
    </div>
  </section>


  <section class="container_section">
    <h2 class="theme">
      Next
    </h2>
    <div>
      <ul>
        <li>Keras, TensorFlow(Pythonのライブラリ)を用いたディープラーニング</li>
        <li>C#を用いてUnityによるゲーム開発</li>
        <li>Dockerを用いたインフラ整備</li>
        <li>Dart, Flutterを用いたNative applicationの開発</li>
      </ul>
    </div>
  </section>


  <section class="container_section">
    <h2 class="theme">
      More
    </h2>
    <div>
      ご覧いただきありがとうございました。<br>
      ご興味をお持ちいただけましたら、ぜひ気軽にこちらの<a href={% url 'calliope_web:contact' %}>問い合わせ</a>
      もしくは、こちらの<a href="mailto:calliport147@gmail.com">メールアドレス</a>からご連絡くださいませ。<br>
      インターンや案件もご検討のほど宜しくお願い致します。<br>
      コミュニケーション対応はしっかりと行わせていただきます。<br>
    </div>
    <br>
  </section>

  <img class="scroll-to-top" id="scroll-to-top" src="{% static 'calliope_web/images/toggle_left_arrow.png' %}" alt="scroll to top"></img>

  <script src={% static 'calliope_web/js/home.js' %}></script>
{% endblock body %}

