{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/calliope_web/login.css' %}">
    <title>login</title>
  </head>

  <body>
    <div class="container">
      <div class="frm">
        <form method="post">
          {% csrf_token %}

          {% render_field form.username placeholder="Enter your username..." %}
          {% if form.username.help_text %}
            <small class="form-text text-muted">
              {{ form.username.help_text }}
            </small>
          {% endif %}
          {% for error in form.username.errors %}
            <div class="alert alert-success alert-dismissible" role="alert">
              {{ error }}が発生
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}

          {% render_field form.password placeholder="Enter your password..." %}
          {% if form.password.help_text %}
            <alert class="form-text text-muted">
              {{ form.password.help_text }}
            </alert>
          {% endif %}
          {% for error in form.password.errors %}
            <div class="alert alert-success alert-dismissible" role="alert">
              {{ error }}が発生
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
          <button type="submit">ログイン</button>
        </form>
      </div>
    </div>
  </body>
</html>