{% extends '_base.html' %}
{% load static %}

{% block head %}
  <meta name="description" content="user_profile">
  <title>プロフィール</title>
  <link rel="stylesheet" href=>
  <script></script>
{% endblock head %}


{% block body %}
  <section class="container">
    <p>ユーザー名:{{ user.username }}</p>
    {% if line_id %}
      <p>LINE_ID:{{ line_id }}</p>
    {% else %}
      <p>
        <span>LINE連携:</span>
        {% if user.username == 'testuser' %}
          テストユーザーはLINE連携できません。
        {% else %}
          <a id='lineLoginUrl' href="https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id={{ channel_id }}&redirect_uri={{ redirect_url }}&state={{ random_state }}&bot_prompt=aggressive&scope=profile%20openid&nonce={{ nonce }}">
            <img src="{% static 'calliope_web/images/btn_login_base.png' %}">
          </a>
        {% endif %}
      </p>
    {% endif %}
  </section>
{% endblock body %}