{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'calliope_web/css/signup.css' %}">
    <title>サインアップ</title>
  </head>

  <body>
    <div class="container">
      <h1>サインアップ</h1>
        {% if done %}
          送信完了！
        {% endif %}
        <form method="post">
          {% csrf_token %}

          <div class="alert alert-light" role="alert">
            {{ form.username.help_text }}
          </div>
          <div class="alert alert-light" role="alert">
            {{ form.username.errors }}
          </div>
          <div class="alert alert-light" role="alert">
            {{ form.email.errors }}
          </div>

          <label>Username</label>
          <br>
          {{ form.username }}
          <br>
          <label>Email</label>
          <br>
          {{ form.email }}
          <br>
          <label>Password</label>
          <br>
          {{ form.password1 }}
          <br>
          <label>Password(確認用)</label>
          <br>
          {{ form.password2 }}
          <button type="submit">サインアップ</button>
        </form>
          <p> 
            <a href="{% url 'calliope_web:login' %}">アカウントをお持ちですか？ログインする</a>
          </p>
      </div>
  </body>
</html>