{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/_navbar.css' %}">

<nav class='navbar'>
  <h1 class='banner'><a href={% url 'calliope_web:home' %}>Calliope Portfolio</a></h1>

  <ul>
    <li><a class='logout' href={% url 'calliope_auth:logout' %}>Logout</a></li>
    <li><a href={% url 'calliope_web:home' %}>Home</a></li>
    <li><a href={% url 'calliope_web:profile' %}>My Page</a></li>
    <li><a href={% url 'calliope_web:bss_list' %}>Caitter</a></li>
    <li><a href={% url 'calliope_web:contact' %}>Contact</a></li>
  </ul>
</nav>