.welcome {
  position: relative;
}

.welcome img {
  width: 100%;
  height: auto;
}

.welcome .top-position-1 {
  white-space: nowrap;
  position: absolute;
  font-size: 35px;
  color: #FFFFFF;
  background: -webkit-gradient(linear, right top, left top, from(#F77B78), to(#7DD3D2));
  background: linear-gradient(right, #F77B78, #7DD3D2);
  color: transparent;
  -webkit-background-clip: text;
  z-index: 10;
  top: 20%;
  left: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (min-width: 520px) {
  .welcome .top-position-1 {
    font-size: 55px;
  }
}

@media (min-width: 960px) {
  .welcome .top-position-1 {
    font-size: 85px;
  }
}

.welcome .top-position-2 {
  white-space: nowrap;
  position: absolute;
  font-size: 35px;
  color: #FFFFFF;
  background: -webkit-gradient(linear, right top, left top, from(#F77B78), to(#7DD3D2));
  background: linear-gradient(right, #F77B78, #7DD3D2);
  color: transparent;
  -webkit-background-clip: text;
  z-index: 10;
  top: 40%;
  left: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (min-width: 520px) {
  .welcome .top-position-2 {
    font-size: 55px;
  }
}

@media (min-width: 960px) {
  .welcome .top-position-2 {
    font-size: 85px;
  }
}

.welcome .top-position-3 {
  white-space: nowrap;
  position: absolute;
  font-size: 35px;
  color: #FFFFFF;
  background: -webkit-gradient(linear, right top, left top, from(#F77B78), to(#7DD3D2));
  background: linear-gradient(right, #F77B78, #7DD3D2);
  color: transparent;
  -webkit-background-clip: text;
  z-index: 10;
  top: 60%;
  left: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (min-width: 520px) {
  .welcome .top-position-3 {
    font-size: 55px;
  }
}

@media (min-width: 960px) {
  .welcome .top-position-3 {
    font-size: 85px;
  }
}

.welcome .top-position-4 {
  white-space: nowrap;
  position: absolute;
  font-size: 35px;
  color: #FFFFFF;
  background: -webkit-gradient(linear, right top, left top, from(#F77B78), to(#7DD3D2));
  background: linear-gradient(right, #F77B78, #7DD3D2);
  color: transparent;
  -webkit-background-clip: text;
  z-index: 10;
  top: 80%;
  left: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (min-width: 520px) {
  .welcome .top-position-4 {
    font-size: 55px;
  }
}

@media (min-width: 960px) {
  .welcome .top-position-4 {
    font-size: 85px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container .theme {
  margin-top: 50px;
  margin-bottom: 35px;
  color: #777777;
  font-size: 50px;
  text-align: center;
}

.container .accordion div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .accordion div, .container .accordion p {
  width: 100%;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 20px;
}

.container .accordion div img, .container .accordion p img {
  height: 25px;
  width: 25px;
  margin-right: 4%;
}

.container .accordion div img.toggle, .container .accordion p img.toggle {
  margin-left: auto;
}
/*# sourceMappingURL=home.css.map */